.page {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30vh;
    background-color: white;
}

.landscape-nav {
    display: none;
}

.mobile-nav {
    display: block;
}

.top-row {
    background-color: var(--bg);
    border-bottom: var(--border);
    justify-content: flex-end;
    height: var(--top-row-height);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.top-row, article {
    padding-left: var(--padding) !important;
    padding-right: var(--padding) !important;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .landscape-nav {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    .sidebar {
        min-width: calc(var(--nav-link-size) + var(--padding) * 2);
        height: 100vh;
        position: sticky;
        top: 0;
        border-right: var(--border);
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }