@using UpTulse.WebDashboard.Const

@inherits LayoutComponentBase

@inject IJSRuntime JsRuntime

<div class="page">
    <div class="sidebar">
        <div class="landscape-nav">
            <ItNavMenu NavMenuItems="@NavMenuItems" />
        </div>

        <div class="mobile-nav">
            <ItFloatNavMenu NavMenuItems="@NavMenuItems" />
        </div>
    </div>

    <main>
        <div class="top-row">
           
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    public List<NavMenuItem> NavMenuItems { get; set; } = new()
    {
        new NavMenuItem("Home", PageRoute.Home, typeof(ItSvgHome)),
        new NavMenuItem("Details", PageRoute.Details, typeof(ItSvgCardList)),
        new NavMenuItem("Settings", PageRoute.Settings, typeof(ItSvgSettings)),
    };
}