:root {
    --accent: #fac714;
    --animation-x: slide-in-x var(--transition-time) ease-out;
    --animation-y: slide-in-y var(--transition-time) ease-out;
    --animation-y-reversed: slide-in-y-reversed var(--transition-time) ease-out;
    --bg: #ebebeb;
    --border-size: 3px;
    --box-shadow: 0 4px 8px 0 #00000080;
    --gap: 2px;
    --margin: 0.6rem;
    --max-width: 1024px;
    --padding: 5px;
    --shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    --sidebar-width: 350px;
    --transition: all var(--transition-time) cubic-bezier(.2,0,.38,.9);
    --transition-time: 0.3s;
    --nav-link-size: 70px;
    --unactive-color: #767676;
    --divider-color: #d6d5d5;
}

@keyframes slide-in-y {
    from {
        transform: translateY(5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-y-reversed {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-x {
    from {
        transform: translateX(5%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px var(--accent-with-opacity);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}