:root {
    --accent: #fac714;
    --animation-x: slide-in-x var(--transition-time) ease-out;
    --animation-y: slide-in-y var(--transition-time) ease-out;
    --animation-y-reversed: slide-in-y-reversed var(--transition-time) ease-out;
    --bg: #f3f3f3;
    --border-size: 3px;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --gap: 2px;
    --margin: 0.6rem;
    --max-width: 1024px;
    --padding: 8px;
    --padding-double: calc(var(--padding) * 2);
    --shadow: 0 2px 6px rgba(255, 255, 255, 0.5);
    --sidebar-width: 350px;
    --transition: all var(--transition-time) cubic-bezier(.2,0,.38,.9);
    --transition-time: 0.3s;
    --nav-link-size: 70px;
    --unactive-color: #767676;
    --divider-color: #d6d5d5;
    --border-color: rgb(165, 165, 165);
    --bg-for-backdrop: rgb(243, 243, 243, .5);
    --backdrop: blur(5px);
    --top-row-height: 3.5rem;
    --border: 1px solid var(--divider-color);
    --border-radius: 4px;
}

@keyframes slide-in-y {
    from {
        transform: translateY(5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-y-reversed {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-x {
    from {
        transform: translateX(5%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px var(--accent-with-opacity);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}